<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Draw A Point Of Canvas</title>
  </head>
  <body onload="main()">
    <canvas id="webgl" width="400" height="400">
      Please Use A Browser That Supports 'Canvas'
    </canvas>
  </body>

  <script src="../js/utils/webgl-debug.js"></script>
  <script src="../js/utils/webgl-utils.js"></script>
  <script src="../js/utils/cuon-matrix.js"></script>
  <script src="../js/utils/cuon-utils.js"></script>
  <!-- PointCanvas -->
  <script src="../js/MultiPoint.js"></script>
</html>
